<p>recipes works!</p>

<form (ngSubmit)="searchRecipe()">
  <input
    class="border-2"
    type="text"
    name="searchterm"
    [(ngModel)]="searchterm"
    placeholder="Search"
    required
  />
</form>

<div>
  <div class="p-4">
    <label for="mealType">Meal type:</label>
    <select id="mealType" multiple (change)="updateSelectedMealTypes($event)">
      <option
        *ngFor="let type of mealTypes"
        [value]="type"
        [selected]="selectedMealTypes.includes(type)"
      >
        {{ type }}
      </option>
    </select>
  </div>

  <div class="p-4">
    <label for="cuisineType">Cuisine type:</label>
    <select id="cuisineType" multiple (change)="updateSelectedCuisineTypes($event)">
      <option
        *ngFor="let type of cuisineTypes"
        [value]="type"
        [selected]="selectedCuisineTypes.includes(type)"
      >
        {{ type }}
      </option>
    </select>
  </div>

  <div class="p-4">
    <label for="healthLabel">Allergies:</label>
    <select id="healthLabel" multiple (change)="updateSelectedHealthLabels($event)">
      <option
        *ngFor="let label of healthLabels"
        [value]="label"
        [selected]="selectedHealthLabels.includes(label)"
      >
        {{ label }}
      </option>
    </select>
  </div>
</div>
<button (click)="searchRecipe()">Get recipes</button>

@if (recipes && recipes.length > 0) {
  @for (recipe of recipes; track recipe) {
    <article>
      <h3 class="text-3xl font-bold underline">{{ recipe.label }}</h3>
      <img src="{{ recipe.image }}" alt="Recipe image" />
      <p>{{ recipe.totalTime }}</p>
      <a [routerLink]="['/recipe', recipe.selfref | recipeidformatter]">View recipe</a>
    </article>
  }
}
