
<!-- Form för registrering -->
<p>register works!</p>

@if (form) {
    <form [formGroup]="form" (ngSubmit)="registerUser()">
        <div>
            <label for="name">Name:</label>
            <input type="text" id="name" formControlName="name" class="border-2">
        </div>
        <div>
            <label for="email">Email:</label>
            <input type="text" id="email" formControlName="email" class="border-2">
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" formControlName="password" class="border-2">
        </div>
        <div>
            <label for="password_confirmation">Password confirmation:</label>
            <input type="password" id="password_confirmation" formControlName="password_confirmation" class="border-2">
        </div>

        <button type="submit">Register</button>
    </form>
    }
<!-- <button (click)="registerUser()">Register user</button> -->